
.textTdElement{
    font-size: 20px;
}
  
.songImage{
    width: 100px;
}
.child2 {
  flex: 0 1 600px;
  flex: 1 1 600px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 2rem;
  text-align: center;
  margin: 20px;
  padding: 30px 10px;
  border-radius: 25px;
}

body {
  font-family: system-ui, serif;
}

.songButton{
  width: 200px;
}

table{
  border: 1px solid;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
}